.sidebar {
float: right;
margin: 12px;
border: 2px solid black;
padding: 4px;
background-color: orange;
}

.column {
width: 300px;
float: left;
}

img {
  float: right;
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
}

.right {
  float: right;
}

.left {
  float: left;
}
